body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(160, 170, 26);
}
input{
    margin-top: 20px;
}
button{
    margin-top: 40px;
}
form{
    border: 1px solid black;
    width: 200px;
    padding: 20px;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
}
button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    border: 1px solid black;
    cursor: pointer;

}
button:hover{
    background-color: black;
    color: aliceblue;
}
